- title(t('feedback_for') + @place.name)
.row
  .col-xs-12.col-sm-12
    %h3
      =t('.title')

    = simple_form_for [@item, @feedback], html: {class: 'form-horizontal'} do |f|
      .row
        = f.input :content, label: false, wrapper_html: {class: 'col-xs-12 col-sm-10 col-xs-push-1 col-sm-push-1'}
        = f.input :email,  wrapper_html: {class: 'col-xs-12 col-sm-10 col-xs-push-1 col-sm-push-1'}, placeholder: t('.content_placeholder'), label: false

        %br
        = f.button :submit, t('.submit'), class: 'btn btn-primary btn-lg btn-block'