- title(t('.title'))
.well
  -h4 t('.header')
  = t('.intro_text')

  .space-12

  = link_to step1_wizard_index_path, class: "btn btn-lg btn-success" do
    = icon('play')
    =t('.start_wizard')




