- title(t('.title'))
.well
  -h4 t('.header')
  = t('.intro_text')

  %br
  %br
  %br

  = link_to start_wizard_index_path, class: "btn btn-lg btn-success" do
    = icon('play')
    =t('.start_wizard')




